body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    grid-row: 1 / 2;
    background-color: #222;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #f9a825;
    color: white;
}

.operator:hover {
    background-color: #f57f17;
}

.instructions {
    text-align: center;
    margin-top: 20px;
    margin-left: 5rem;
    color: white;
}
